html {
  background-color: #D5E1EF;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  /* Regular */
  font-style: normal;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  flex-direction: column;
}

.card {
  max-width: 18rem;
  width: 100%;
  border-radius: 15px;
  margin: 3rem 0;
  background: hsl(0, 0%, 100%);
  padding: 16px;
  text-align: center;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 16px;
}

.card-title h1 {
  font-weight: 700;
  /* Bold */
  font-size: 1.5em;
  color: hsl(218, 44%, 22%);
}

.card-title p {
  color: #9B9B9E;

}

.footer .attribution {
  font-size: 0.73rem;
  text-align: center;
  opacity: 0.8;
  color: #8c8c8c;
  margin-top: 3rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
